*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    width: 700px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

summary{
    background: rgb(165, 19, 185);
    color: white;
    padding: 20px;   
    cursor:pointer;
}

p{
    background: white;
    padding: 10px;
    color: rgb(61, 61, 61);
}

ul{
    background: white;
    color: rgb(61, 61, 61);
}